*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.relative {
  position: relative;
}

.top-\[-5px\] {
  top: -5px;
}

.top-\[30px\] {
  top: 30px;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-\[20px\] {
  margin-bottom: 20px;
}

.mb-\[30px\] {
  margin-bottom: 30px;
}

.ml-\[-40px\] {
  margin-left: -40px;
}

.ml-\[20px\] {
  margin-left: 20px;
}

.ml-\[280px\] {
  margin-left: 280px;
}

.ml-\[50px\] {
  margin-left: 50px;
}

.mt-\[100px\] {
  margin-top: 100px;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-\[143px\] {
  height: 143px;
}

.h-\[165\.559326171875px\] {
  height: 165.559326171875px;
}

.h-\[198\.4446258544922px\] {
  height: 198.4446258544922px;
}

.h-\[246\.29611206054688px\] {
  height: 246.29611206054688px;
}

.h-\[2px\] {
  height: 2px;
}

.h-\[32px\] {
  height: 32px;
}

.h-\[346\.40960693359375px\] {
  height: 346.40960693359375px;
}

.h-\[3px\] {
  height: 3px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[421\.81341552734375px\] {
  height: 421.81341552734375px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[55\.52941131591797px\] {
  height: 55.52941131591797px;
}

.h-\[72px\] {
  height: 72px;
}

.h-\[73\.85914611816406px\] {
  height: 73.85914611816406px;
}

.min-h-\[600px\] {
  min-height: 600px;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[150\.1647186279297\] {
  width: 150.1647186279297;
}

.w-\[193px\] {
  width: 193px;
}

.w-\[202\.92613220214844px\] {
  width: 202.92613220214844px;
}

.w-\[208\.8135528564453px\] {
  width: 208.8135528564453px;
}

.w-\[238\.15660095214844px\] {
  width: 238.15660095214844px;
}

.w-\[250pxpx\] {
  width: 250pxpx;
}

.w-\[300\.5021209716797px\] {
  width: 300.5021209716797px;
}

.w-\[313\.6975402832031px\] {
  width: 313.6975402832031px;
}

.w-\[32px\] {
  width: 32px;
}

.w-\[350px\] {
  width: 350px;
}

.w-\[400\.3823547363281px\] {
  width: 400.3823547363281px;
}

.w-\[400px\] {
  width: 400px;
}

.w-\[421\.73992919921875px\] {
  width: 421.73992919921875px;
}

.w-\[421px\] {
  width: 421px;
}

.w-\[465px\] {
  width: 465px;
}

.w-\[500px\] {
  width: 500px;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[65\%\] {
  width: 65%;
}

.w-\[73\.64328002929688px\] {
  width: 73.64328002929688px;
}

.w-\[80\%\] {
  width: 80%;
}

.w-\[84\.05747985839844px\] {
  width: 84.05747985839844px;
}

.w-\[880px\] {
  width: 880px;
}

.w-\[96\.27296447753906px\] {
  width: 96.27296447753906px;
}

.w-\[97\.78985595703125px\] {
  width: 97.78985595703125px;
}

.w-\[98\.54756164550781px\] {
  width: 98.54756164550781px;
}

.max-w-\[800px\] {
  max-width: 800px;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-\[100px\] {
  gap: 100px;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[2px\] {
  gap: 2px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[40px\] {
  gap: 40px;
}

.gap-\[50px\] {
  gap: 50px;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[3px\] {
  border-radius: 3px;
}

.rounded-\[50px\] {
  border-radius: 50px;
}

.rounded-\[7\.44px\] {
  border-radius: 7.44px;
}

.rounded-\[7px\] {
  border-radius: 7px;
}

.rounded-\[8px\] {
  border-radius: 8px;
}

.rounded-\[9px\] {
  border-radius: 9px;
}

.border-\[2px\] {
  border-width: 2px;
}

.border-\[\#272E28\] {
  --tw-border-opacity: 1;
  border-color: rgb(39 46 40 / var(--tw-border-opacity, 1));
}

.border-\[\#272e289c\] {
  border-color: #272e289c;
}

.border-\[\#D3D1CF\] {
  --tw-border-opacity: 1;
  border-color: rgb(211 209 207 / var(--tw-border-opacity, 1));
}

.border-\[\#DBDBDB\] {
  --tw-border-opacity: 1;
  border-color: rgb(219 219 219 / var(--tw-border-opacity, 1));
}

.border-\[\#EEEEEE\] {
  --tw-border-opacity: 1;
  border-color: rgb(238 238 238 / var(--tw-border-opacity, 1));
}

.border-\[solid\] {
  border-color: solid;
}

.bg-\[\#7FAD39\] {
  --tw-bg-opacity: 1;
  background-color: rgb(127 173 57 / var(--tw-bg-opacity, 1));
}

.bg-\[\#7caf3f\] {
  --tw-bg-opacity: 1;
  background-color: rgb(124 175 63 / var(--tw-bg-opacity, 1));
}

.bg-\[\#ADADAD\] {
  --tw-bg-opacity: 1;
  background-color: rgb(173 173 173 / var(--tw-bg-opacity, 1));
}

.bg-\[\#E6E6E6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(230 230 230 / var(--tw-bg-opacity, 1));
}

.bg-\[\#a2cc66\] {
  --tw-bg-opacity: 1;
  background-color: rgb(162 204 102 / var(--tw-bg-opacity, 1));
}

.bg-\[\#ebeae9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(235 234 233 / var(--tw-bg-opacity, 1));
}

.bg-\[white\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.p-\[10px\] {
  padding: 10px;
}

.p-\[15px\] {
  padding: 15px;
}

.p-\[20px\] {
  padding: 20px;
}

.p-\[30px\] {
  padding: 30px;
}

.p-\[40px\] {
  padding: 40px;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-\[60px\] {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pl-\[10px\] {
  padding-left: 10px;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15\.32px\] {
  font-size: 15.32px;
}

.text-\[17px\] {
  font-size: 17px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[19px\] {
  font-size: 19px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[23px\] {
  font-size: 23px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[25px\] {
  font-size: 25px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[35px\] {
  font-size: 35px;
}

.text-\[40px\] {
  font-size: 40px;
}

.font-\[600\] {
  font-weight: 600;
}

.font-\[700\] {
  font-weight: 700;
}

.font-bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.leading-\[1\.2\] {
  line-height: 1.2;
}

.text-\[\#3c7a30\] {
  --tw-text-opacity: 1;
  color: rgb(60 122 48 / var(--tw-text-opacity, 1));
}

.text-\[\#739378\] {
  --tw-text-opacity: 1;
  color: rgb(115 147 120 / var(--tw-text-opacity, 1));
}

.text-\[\#7FAD39\] {
  --tw-text-opacity: 1;
  color: rgb(127 173 57 / var(--tw-text-opacity, 1));
}

.text-\[grey\] {
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.hover\:bg-\[\#6a9635\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(106 150 53 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#8bb757\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(139 183 87 / var(--tw-bg-opacity, 1));
}

@media (max-width: 510px) {
  .mx\:relative {
    position: relative;
  }

  .mx\:left-\[55px\] {
    left: 55px;
  }

  .mx\:top-\[0px\] {
    top: 0px;
  }

  .mx\:m-auto {
    margin: auto;
  }

  .mx\:ml-\[100px\] {
    margin-left: 100px;
  }

  .mx\:mt-\[20px\] {
    margin-top: 20px;
  }

  .mx\:mt-\[30px\] {
    margin-top: 30px;
  }

  .mx\:block {
    display: block;
  }

  .mx\:flex {
    display: flex;
  }

  .mx\:hidden {
    display: none;
  }

  .mx\:h-\[42\.062782287597656px\] {
    height: 42.062782287597656px;
  }

  .mx\:h-\[50px\] {
    height: 50px;
  }

  .mx\:h-\[74\.08071899414062px\] {
    height: 74.08071899414062px;
  }

  .mx\:h-\[82px\] {
    height: 82px;
  }

  .mx\:w-\[116\.77130889892578px\] {
    width: 116.77130889892578px;
  }

  .mx\:w-\[168\.20016479492188px\] {
    width: 168.20016479492188px;
  }

  .mx\:w-\[214px\] {
    width: 214px;
  }

  .mx\:w-\[250px\] {
    width: 250px;
  }

  .mx\:w-\[26\.54841423034668px\] {
    width: 26.54841423034668px;
  }

  .mx\:w-\[280px\] {
    width: 280px;
  }

  .mx\:w-\[320px\] {
    width: 320px;
  }

  .mx\:w-\[90\%\] {
    width: 90%;
  }

  .mx\:w-\[96px\] {
    width: 96px;
  }

  .mx\:flex-col {
    flex-direction: column;
  }

  .mx\:flex-col-reverse {
    flex-direction: column-reverse;
  }

  .mx\:items-center {
    align-items: center;
  }

  .mx\:justify-center {
    justify-content: center;
  }

  .mx\:gap-\[10px\] {
    gap: 10px;
  }

  .mx\:gap-\[20px\] {
    gap: 20px;
  }

  .mx\:text-center {
    text-align: center;
  }

  .mx\:text-\[14px\] {
    font-size: 14px;
  }

  .mx\:text-\[16\.43px\] {
    font-size: 16.43px;
  }

  .mx\:text-\[8px\] {
    font-size: 8px;
  }
}
